<div class="container-xl text-white">

  <!-- ABOUT ME + SKILLS -->
  <div class="row my-4">
    <div class="col-sm-12 col-md-6">
      <h4>About Me</h4>
      <hr>
      <p>
        Nice to meet you, I'm Marco. I recently graduated as a Web Applications Developer.
        I am eager to put into practice the knowledge I have acquired during my studies,
        as well as to continue growing professionally and learning new languages and technologies.

        During the course, we learned languages and tools such as Java, HTML/CSS, Angular, SCSS,
        JavaScript, MySQL, Spring Boot, Thymeleaf, etc.
        I am also fully open to learning new types of technologies and programming languages.
        I would love the opportunity to work with your team and continue learning.
      </p>
      <p>
        Thank you very much for taking the time to read my introduction.
        I hope we can work together soon!
      </p>
    </div>

    <div class="col-sm-12 col-md-6">
      <h4>Skills</h4>
      <hr>
      <!-- ICONOS LENGUAJES -->
      <div class="row">
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/HTML5.png" alt="HTML" width="40">
            <p class="mt-2 mb-0 fw-semibold">HTML</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/Java.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">Java</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/JavaScript.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">Javascript</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/Angular.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">Angular</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/TypeScript.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">TypeScript</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/Spring.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">SpringBoot</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/CSS3.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">CSS</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/Sass.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">SASS</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/Git.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">Git</p>
          </div>
        </div>
        <div class="col text-center p-2">
          <div class="border rounded shadow-sm p-3 h-100">
            <img src="assets/images/icons/GitHub.png" alt="" width="30px">
            <p class="mt-2 mb-0 fw-semibold">GitHub</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- EDUCACION -->
  <div class="my-2">
    <h4>Education</h4>
    <hr>


  </div>
</div>
